.daily{
    background-image: url("../img/bg1.jpg");
    background-size:cover;
    
}

.weekly{
    background-image: url("../img/bg2.jpg");
    background-size:cover;
    
}
.bg1{
    background-image: url("../img/bg3.jpeg");
    background-size:cover;
    
}